body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

.container {
    background: #efefef;
    padding: 1px 0;
}

#bookmarks, #currentBookmark {
    display: flex;
    flex-direction: column;
    width: max-content;
}
#currentBookmark {
    margin: 3px 0;
    width: auto;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

ul li {
    border: 1px solid #c37a301a;
    background: #c37a301a;
    border-radius: 999px;
    margin: 3px 5px;
    cursor: pointer;
    padding: 1px 12px;
    padding-bottom: 6.7px;
}

ul li:hover {
    border: 1px solid #c37a306e;
}

ul li::before {
    content: "";
    background-image: url(images/bookmark-orange.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0.3rem;
    margin-right: 0.2rem;
}

ul#currentBookmark li::before {
    background-image: url(images/bookmark-red.svg);
}

ul#currentBookmark li:hover {
    border: 1px solid #c37a301a;
    cursor: auto;
}

ul li:hover:before {
    content: "";
    background-image: url(images/bookmark-red.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0.3rem;
    margin-right: 0.2rem;
}