body {
    margin: 0;
}

h1 {
    text-align: center;
    width: max-content;
    margin: 4px 8px;
}


.container {
    background: #efefef;
    padding: 1px 0;
}

#bookmarks {
    display: flex;
    flex-direction: column;
    width: max-content;
}
/* #currentBookmark {
    margin: 3px 0;
    width: auto;
    display: flex;
    flex-direction: column;
    width: max-content;
} */


