body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

.container {
    background: #efefef;
    padding: 1px 0;
}

#bookmarks, #currentBookmark {
    display: flex;
    flex-direction: column;
    width: max-content;
}
#currentBookmark {
    margin: 3px 0;
    width: auto;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

ul#currentBookmark li::before {
    background-image: url(images/bookmark-red.svg);
}

ul#currentBookmark li:hover {
    border: 1px solid #c37a301a;
    cursor: auto;
}

