body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

.container {
    background: #efefef;
    padding: 1px 0;
}

#bookmarks, #currentBookmark {
    display: flex;
    flex-direction: column;
    width: max-content;
}
#currentBookmark {
    margin: 3px 0;
    width: auto;
}


