body {
  background-color: red;
  font-size: 10em!important;
}

li {
  border: 1px solid #c37a301a;
  background: #c37a301a;
  border-radius: 999px;
  margin: 3px 5px;
  cursor: pointer;
  padding: 1px 12px;
  padding-bottom: 6.7px;
}

li:hover {
  border: 1px solid #c37a306e;
}

li::before {
  content: "";
  background-image: url(bookmark-orange.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0.3rem;
  margin-right: 0.2rem;
}

li:hover:before {
  background-image: url(bookmark-red.svg);
}